@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SmartHouse</h1>
    <p class="lead">Älytalo  sovellus jolla olisi tarkoitus kontrolloida valoja, saunaa ja pattereita.</p>
</div> 

<div class="col-sm-4">
    <p><a href="http://localhost:5090/Luonti/sauna" class="btn btn-primary btn-lg">Create Sauna &raquo;</a></p>
    <p><a href="http://localhost:5090/" class="btn btn-primary btn-lg">2 &raquo;</a></p>
</div>                                         
<div class="col-sm-4">                                          
    <p><a href="http://localhost:5090/" class="btn btn-primary btn-lg">3 &raquo;</a></p>
    <p><a href="http://localhost:5090/" class="btn btn-primary btn-lg">4 &raquo;</a></p>
</div>                                         
<div class="col-sm-4">                                          
    <p><a href="http://localhost:5090/" class="btn btn-primary btn-lg">5 &raquo;</a></p>
    <p><a href="http://localhost:5090/" class="btn btn-primary btn-lg">6 &raquo;</a></p>
</div>
    
